  html{
    scroll-behavior: smooth;
  }
  .logo{
    float: right;
    width: 120px;

  }
  .navbar {
    background-color: #e9a735c4;
    overflow: hidden;
    padding: 10px;
    border-radius: 5px;
  }
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 26px;
  }
  .navbar a:hover {
    background-color: #e39c19;
  }
  .fa-fw{
    background-color: transparent;
  }
  .active {
    background-color: #ca702f9b;
  }
  
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  
  body {
    background-image: url('restoran.jpg'), url('kuuu.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position:top,bottom;
    background-size:100%,100%;
  }
h2 {
  
  color: #f3a01cfc; 
  font-size: 50px ;
  text-align: center;
  border: 5px black;
  margin-right: 10px;
  margin-top: 20%; 
  text-decoration-line: underline ;
  text-decoration-thickness: 5px;
  text-shadow: 2px 5px 30px rgb(255, 0, 0);
  margin-bottom: 40%;
}
 .text {
  background-color: #e39c19d1;
  padding-bottom:5%;
  padding-left: 3%;
  padding-top: 4%;
  padding-right: 3%;
  font-size: 26px;
  text-align: center;
  border-radius: 50%;
  color: white;
  margin-left: 10%;
  margin-right: 30%;
  width: 450px;
  height:130px;

 }
footer {
  background-color: #e39c19dd;
  height: 100px;
  display: block;
  text-align: center;
  border-radius: 5px;

}
.div3{
  background-color: #e39c19be;
  box-shadow: #e39c19;
  color:black;
  width: 70%;
  height: 100%;
  border-radius: 10px;
  font-size:140% ;
  font-family:"Lucida Handwriting";
  padding:5px;
  margin:5% !important;
  height:90%;
}
#slika:hover{

border-radius: 50%;
}
.reservation-button{
display: block;
width: 50%;
font-size: 100%;
color: white;
background-color:#eda114 ;
border: none;
border-radius: 10px;
text-align: center;
margin:auto;
}
.random{
background-color: #e39c19b6;
width:22%;
margin-left:auto;
text-align: center;
border-radius: 40%;
padding: 5px;
display: inline-block;
margin-right: auto;
font-size: 20px;
color: white;
}
.murat{
border-radius: 50%;
border:4px solid #e39c19;
margin-left: auto;
margin-right: auto;
display: inline-block;
  
}
.service{
  border-radius: 50%;
  border: 4px solid #e39c19;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
.icons{
  font-size: 35px;
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
}
.fa {
  padding: 2px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}


.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 5px;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 5px;
}
.fa-instagram{
  background-color: transparent;
  color: white;
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); 
  padding-left:3.5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 3px;
  border-radius: 10px;
}
.fa-linkedin{
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
  padding-left:3px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 4px; 
}
.fa-envelope-o{
  background-color:rgb(74, 153, 232) ;
  color: white;
  padding-right: 8px;
  padding-top:0px;
  padding-bottom: 2px;
  border-radius: 5px;
}   
  .div4{
    width: 100%;
    height: 100%;
  }
  .form-group5{
    width: 100%;
    height: 100%;
    text-align: left;
  }
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc9110;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}

.btn:hover {
    background-color: #8410dcdd;
}
.div7{
  color: white;
  font-size: 150%;
  background-color: #dc9110;
  pad:1%;
  width: 65%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;}
 
  .menu-item{
    margin-bottom: 100px;
    margin-top: 100px;
    display: inline-block;
    margin-left: 13%;
    text-align: center;
  }
  .menu-item2{
    margin-bottom: 30px;
    margin-top: 190px;
    display: inline-block;
    margin-left: 35%;
  }
  .menu-item img{
    width: 45%;
    max-width: 100%;
    border-radius: 20%;
    border: 5px solid orange;
  }
  .menu-item2 img{
    width: 50%;
    max-width: 100%;
    border-radius: 20%;
    border: 5px solid orange;
  }
  .paragraph{
    background-color: #dc9110d6;
    width: 46%;
    margin-left: 27%;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 18px;
  }
  .h44{
    background-color: #dc9110d7;
    width: 20%;
    margin-left: 40%;
    border-radius: 10px;
    color: white;
  }
  .h45{
    background-color: #dc9110d7;
    width: 23%;
    margin-left: 16%;
    border-radius: 10px;
    color: white;
    text-align: center;

  }
  .price{
    background-color: #dc9110d6 ;
    width: 7%;
    color: white;
    margin-left: 47%;
    font-size: 20px;
    border-radius: 5px;
  }
  .price1{
    background-color: #dc9110d6 ;
    width: 7%;
    color: white;
    margin-left: 23%;
    font-size: 20px;
    border-radius: 5px;
  }
  .paragraph1{
    background-color: #dc9110d6;
    width: 49%;
    margin-left: 2%;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 18px;
  }
.ggg img{
  width: 120px;
  padding-bottom: 10px;
}